In [4]:
import pymongo
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

True

In [2]:
mongo_db_url = os.getenv("MONGO_DB_URL")
mongo_db_url

'mongodb+srv://at7534901:abhay@cluster0.fjjc0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [3]:
## now setting up my mongo db database
database = "my_database"
collection_name = "my_collection1"
mongo_client = pymongo.MongoClient(mongo_db_url)
collection = mongo_client[database][collection_name]

In [5]:
df=pd.DataFrame(list(collection.find()))
if "_id" in df.columns.to_list():
    df=df.drop(columns=["_id"],axis=1)

In [6]:
df.head()

,having_IP_Address,URL_Length,Shortining_Service,having_At_Symbol,double_slash_redirecting,Prefix_Suffix,having_Sub_Domain,SSLfinal_State,Domain_registeration_length,Favicon,...,popUpWidnow,Iframe,age_of_domain,DNSRecord,web_traffic,Page_Rank,Google_Index,Links_pointing_to_page,Statistical_report,Result
0,-1,1,1,1,-1,-1,-1,-1,-1,1,...,1,1,-1,-1,-1,-1,1,1,-1,-1
1,1,1,1,1,1,-1,0,1,-1,1,...,1,1,-1,-1,0,-1,1,1,1,-1
2,1,0,1,1,1,-1,-1,-1,-1,1,...,1,1,1,-1,1,-1,1,0,-1,-1
3,1,0,1,1,1,-1,-1,-1,1,1,...,1,1,-1,-1,1,-1,1,-1,1,-1
4,1,0,-1,1,1,-1,1,1,-1,1,...,-1,1,-1,-1,0,-1,1,1,1,1

In [7]:
database = "my_database"
collection_name = "my_collection1"
mongo_client = pymongo.MongoClient(mongo_db_url)
collection = mongo_client[database][collection_name]

In [8]:
df=pd.DataFrame(list(collection.find()))
if "_id" in df.columns.to_list():
    df=df.drop(columns=["_id"],axis=1)

In [9]:
df

Empty DataFrame
Columns: []
Index: []